.form_request_data{
    //центровка
    position: absolute;
    //top: 30%;
    left: 50%;
    transform: translate(-50%);//transform: translate(-50%, -50%);

    width: 90%;
    // height: 300px;

    text-align: center;

    // & [name="catForTask"]{

    //     [value^="first"]{
    //         color: rgb(206, 50, 50);            
    //     }

    // }

    .task_header{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .div_theme_block{
        :after {
            content: "";
            display: table;
            clear: both;
        }
        
    }

    .themeCatChoice{ 

        margin: 5px 0 5px 0;
        width: 50%;

    
        .div_choose_theme_cat_block{
            width: 49%;    
        }


        .choose_theme_cat{
            display: none;

            *{
                margin-top: 5px;
            }

            // & select[name="catThemeForTask"]{
            //     margin-top: 5px !important;
            // }


            // & input[name="ThemeForTask"]{
            //     margin-top: 5px !important;
            // }
        }
    }

    input[name="lowRangeBoundForTask"], input[name="highRangeBoundForTask"]{
        width: 49%;
        margin: 3px 0 3px 0;
    }
       

    .btn_create_test {

        height: 36px;
        border-radius: 15px 0 0 15px; 

        border: none;
        margin: 5px 0 5px 0;
        background-color: rgb(185, 183, 183);

        width: 50%;
        float: left;

        &:hover{
        
            background-color: rgb(136, 135, 135);
            transition: 0.4s;
        }
    }
    .btn_theme_data {

        height: 36px;
        border-radius: 0 15px 15px 0; 

        border: none;
        margin: 5px 0 5px 0;
        background-color: rgb(185, 183, 183);

        width: 50%;
        float: right;

        &:hover{
        
            background-color: rgb(136, 135, 135);
            transition: 0.4s;
        }
    }
    .btn_submit_decision {
        height: 36px;
        border-radius: 15px 0 0 15px; 

        border: none;
        margin: 5px 0 5px 0;
        background-color: rgb(185, 183, 183);

        width: 50%;
        float: left;

        &:hover{
        
            background-color: rgb(136, 135, 135);
            transition: 0.4s;
        }
    } 
    .btn_all_theme_data {
        width: 100%;
        height: 36px;
        border: none;
        margin: 5px 0 5px 0;

        &:hover{
        
            background-color: rgb(136, 135, 135);
            transition: 0.4s;
        }
    }

    ::placeholder{
        color: #dbd6d6;
        text-align: center;
        background-color: rgb(230, 230, 230);
    }

    p{
        font-size: 2rem;
    }

    [name=rangeForTask]{
        margin: 5px;
        
    }

    .themeCatChoice{
        padding: 5px 0 5px 0;

        .index_range{
            margin-right: 0;
            margin-left: 0;
        }
    }    

    [name=decisionData]{

        margin: 5px;
        width: 90%;
        height: 30%;
        font-size: 2rem;
        background-color: rgb(230, 230, 230);

        
    }

    .request_data_exercise{
        width: 90%;
        min-height: 80px; 
        margin-top: 10px; 
        font-size: 20px;

    }

    .exercise_res_controls{

        padding: 5px 0 10px 0;

    }

    .answer_data_block{
        width: 90%;
        min-height: 100px; 
    }

    .answer_data{
        width: 90%;
        min-height: 40px; 
        // margin-top: 10px; 
        font-size: 20px;       
    }
    .result_data{
        
        .div_description_desition{
            background-color: rgb(185, 183, 183);
            color: rgb(20, 20, 20);
            cursor: pointer;
            padding: 10px 0 10px 0;
        
            width: 100%;
            border: none;
            text-align: center;
            outline: none;
            font-size: 15px;

            // 
            
            &.active, &:hover{
        
                background-color: rgb(136, 135, 135);
                transition: 0.4s;
            }
        }

        .div_description_desition_points{
            display: none;
            text-align: left;
            //max-height: 0;
            transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
            transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
            
            
        }
    }    
}

.themeCatChoice_block{

    height: 36px;
    border-radius:  0 15px 15px 0; 

    font-size: 13px;

    padding: 10px 0 10px 0;
    margin: 5px 0 5px 0;
    background-color: rgb(185, 183, 183);
    cursor: pointer;

    width: 50%;
    float: left;

    &:hover{
        background-color: rgb(136, 135, 135);
    }
}

.div_index_range_block{
    //width: 49% !important;  
    display: none;

    :after {
        content: "";
        display: table;
        clear: both;
    }
              
}

.index_range {
    margin-right: -4px !important;
    margin-left: -4px !important;
    display: none;
} 

.div_button_index_range{
                
    float: left;
    width: 50%;

    padding: 10px 0 10px 0;
    margin: 0 0 5px 0;
    background-color: rgb(185, 183, 183);
    cursor: pointer;
    // width: 45%;

} 

.div_button_choose_theme_cat{

    float: left;
    width: 50%;

     padding: 10px 0 10px 0;
    background-color: rgb(185, 183, 183);  
    cursor: pointer;
    // width: 45%;         
}

select[name="catThemeForTask"] {
    margin-top: 5px;
}

input[name="themeForTask"] {
    height: 35px;
}

