section.form-section
    .container

        form.form.form_insert_data
            label(for="") Название хранилища
            input(type="text" name="inpStore" placeholder="имя нового хранилища")
            br
            label(for="") добавить категорию в хранилище
            br
            input(type="text" name="newCategory" placeholder="категория")
            input(type="text" name="uniqueCategory" placeholder="уникальность")            
            button(type="button").button.btn_addNewCat добавить            
            button(type="button").button.btn_delNewCat удалить               
            br
            button(type="submit").button.btn_createNewStore создать 
            button(type="button").button.btn_deleteStore удалить 
            button(type="button").button.btn_preview предпросмотр            
            br
            br            
            label(for="") использование БД
            br
            label(for="") Выбрать хранилище
            select(name="dbStores", placeholder="Хранилища базы")
            button(type="button").button.btn_selectStore выбрать              
            br 
            br           
            label(for="") Выбрать категорию(поле)           
            select(name="storeCategories", placeholder="Категории хранилища")
            br            
            textarea(name="newData", placeholder='Вставь новые данные сюда')
            br
            button(type='button').button.btn_add_new_date добавить данные
            button(type='submit').button.btn_push_new_date отправить данные 
            button(type="button").button.btn_preview_new_data предпросмотр            
            br
            label(for="") изменить старые данные
            br
            textarea(name="oldData", placeholder='Вставь старые данные сюда')
            br
            button(type='button').button.btn_old_date Изменить данные
            button(type='submit').button.btn_push_new_date отправить данные             
        p задание
        form.form.form_request_data
            button(type='submit').button.btn_exercise_date получить случайное задание
            button(type='submit').button.btn_theme_date тематическое задание
            .request_data_exercise
            //- здесь будет выводится задание
            textarea(name='decisionData' placeholder='вставь сюда свое решение')
            button( type='submit').button.btn_submit_decision отправить решение
            .result_data
            //- здесь будет выводится результат