section.form-section
    .container
        .overlay_create_db
            a(href="javascript:void(0)").btn_close_create_db &times;
            
            .createDB_container
                form.form.form_create_db
                    label(for="") Создать хранилище
                    input(type="text" name="inpStore" placeholder="имя нового хранилища")
                    
                    //- label(for="") добавить категорию в хранилище
                    
                    input(type="text" name="newCategory" placeholder="категория")
                    select(name="uniqueCategory" placeholder="уникальность") 
                        option(value="false") неуникальное имя категории
                        option(value="true") уникальное имя категории
                    button(type="button").button.btn_addNewCat добавить категорию            
                    button(type="button").button.btn_delNewCat удалить категорию              
                    button(type="button").button.btn_preview предпросмотр                      
                    button(type="submit").button.btn_createNewStore создать хранилище
                    button(type="button").button.btn_deleteStore удалить хранилище
          
        .overlay_use_db  
            a(href="javascript:void(0)").btn_close_use_db &times;

            .useDB_container       
                form.form.form_use_db  
                    p использование БД
                    
                    label(for="") Выбрать хранилище
                    select(name="dbStores", placeholder="Хранилища базы")
                    button(type="button").button.btn_selectStore выбрать              
                                                
                    label(for="") Выбрать категорию(поле)           
                    select(name="storeCategories", placeholder="Категории хранилища")

                    button(type='button').button.btn_file_data данные из файла     
                    button(type='button').button.btn_change_data_byhand изменить данные вручную              
                    
                    .data_from_file.hidden
                        p взять из файла
                        input(type='file').choose_file 
                    
                        p() отправить в файл
                        button(type="button").button.btn_save_data_to_file создать файл 
                        a(href="").a_send_file отправить в файл                           
                    
                    .change_data.hidden
                        textarea(name="newData", placeholder='Вставь новые данные сюда')

                        button(type='button').button.btn_add_new_data добавить данные
                        button(type='submit').button.btn_push_new_data отправить данные 
                        button(type="button").button.btn_preview_new_data предпросмотр            

                        label(for="") изменить старые данные

                        textarea(name="oldData", placeholder='Вставь старые данные сюда')
                    .div_btns_change_delete_data
                        button(type='button').button.btn_change_data Изменить данные
                        button(type='submit').button.btn_delete_data удалить данные             

        .exercise_container
            button(type="button").btn_open_create_db создать/удалить БД
            button(type="button").btn_open_change_db выбрать/изменить БД            
            
            form.form.form_request_data
                p задание
                .themeCatChoice
                    label(for="") Выбрать категорию темы           
                    select(name="catThemeForTask")                
                    //- label(for="") Выбрать тему           
                    input(type="text" name="themeForTask" placeholder="тема")              
                    label(for="") Выбрать категорию заданий           
                    select(name="catForTask")

                button(type='button').button.btn_exercise_data задание из всех хранилищ
                button(type='button').button.btn_theme_data тематическое задание                
                button(type='button').button.btn_all_theme_data задание по всем темам
                .request_data_exercise
                //- здесь будет выводится задание

                textarea(name='decisionData' placeholder='вставьте сюда свое решение')
                label() Выбрать категорию ответа
                select(name="storeCategoriesAnswer")
                button( type='button').button.btn_submit_decision отправить решение
                .answer_data.hidden 
                .result_data

                //- здесь будет выводится результат