section.form-section
    .container
        .overlay_create_db
            .createDB_container
                form.form.form_create_db
                    a(href="javascript:void(0)").btn_close_create_db &times;
                    label(for="") Создать/Удалить хранилище
                    input(type="text" autocomplete="off" name="inpStore" placeholder="имя хранилища")
                    hr                    
                    input(type="text" autocomplete="off" name="newCategory" placeholder="категория")

                    select(name="uniqueCategory" placeholder="уникальность") 
                        option(value="false") неуникальное имя категории
                        option(value="true") уникальное имя категории
                    button(type="button").button.btn_addNewCat добавить категорию            
                    button(type="button").button.btn_delNewCat удалить категорию              
                    button(type="button").button.btn_preview предпросмотр   
                    hr                   
                    button(type="submit").button.btn_createNewStore создать хранилище
                    button(type="button").button.btn_deleteStore удалить хранилище
          
        .overlay_use_db  
            
            .useDB_container       
                form.form.form_use_db
                    a(href="javascript:void(0)").btn_close_use_db &times;  
                    p использование БД
                    hr
                    label(for="") Выбрать хранилище
                    select(name="dbStores", placeholder="Хранилища базы")
                    button(type="button").button.btn_selectStore выбрать              
                    hr
                    p Изменить данные в БД
                    button(type='button').button.btn_file_data файловые данные     
                    button(type='button').button.btn_change_data_byhand изменить данные вручную              
                    
                    .data_from_file.hidden
                        p взять из файла
                        input(type='file').choose_file 
                    
                        p() отправить в файл
                        button(type="button").button.btn_save_data_to_file создать файл 
                        a(href="").a_send_file отправить в файл                           
                    
                    .change_data.hidden
                        label(for="") Выбрать категорию(поле)           
                        select(name="storeCategories", placeholder="Категории хранилища")
                        textarea(name="newData", placeholder='Вставь новые данные сюда')

                        button(type='button').button.btn_add_new_data добавить данные
                        button(type='submit').button.btn_push_new_data отправить данные 
                        button(type="button").button.btn_preview_new_data предпросмотр            

                        textarea(name="oldData", placeholder='Вставь старые данные сюда')
                        .div_btns_change_delete_data
                            button(type='button').button.btn_change_data Изменить данные
                            button(type='submit').button.btn_delete_data удалить данные  
        .overlay_search_in_store                                   
            .search_in_store_container
                form.form.form_search_in_store
                    a(href="javascript:void(0)").btn_close_search_in_store &times;                
                    p() Искать в хранилище
                    label() хранилище
                    select(name="searchStore") 
                    label() категория 
                    select(name="searchCategory")                                        
                    input(type="text" autocomplete="off" name="inpSearchStore" placeholder="что ищем?")
                    button(type="button").button.btn_search_in_store искать
                
        .exercise_container
            button(type="button").button.btn_open_create_db создать/удалить БД
            button(type="button").button.btn_open_change_db выбрать/изменить БД 
            button(type="button").button.btn_open_search_in_db поиск в БД                        
            
            form.form.form_request_data
                p().task_header задание
                //- label(for="") Выбрать категорию заданий           
                select(name="catForTask")
                    option(disabled selected value="first") Выбери категорию задания                
                .div_theme_block    
                    //- .themeCatChoice
                    button(type='button').button.btn_create_test создать тест                     
                    .themeCatChoice_block  данные
                    .div_index_range_block
                        .div_button_index_range Задать диапазон индексов
                        .index_range
                            input(type="text" autocomplete="off" name="lowRangeBoundForTask" placeholder="нижняя граница")
                            input(type="text" autocomplete="off" name="highRangeBoundForTask" placeholder="верхняя граница")
                        .div_choose_theme_cat_block
                            .div_button_choose_theme_cat Выбрать категорию темы   
                            .choose_theme_cat        
                                select(name="catThemeForTask") 
                                                
                                input(type="text" autocomplete="off" name="themeForTask" placeholder="тема")              

                button(type='button').button.btn_all_theme_data задание по всем темам
                .request_data_exercise
                //- здесь будет выводится задание

                textarea(name='decisionData' placeholder='вставьте сюда свое решение')
                .exercise_res_controls
                    label() Выбрать категорию ответа
                    select(name="storeCategoriesAnswer")
                button( type='button').button.btn_submit_decision показать решение
                button( type='button').button.btn_theme_data следующее
                .answer_data_block
                    .answer_data.hidden 
                .result_data
                    .div_description_desition Дополнительные сведения
                    .div_description_desition_points
                p().search_result_header Результаты поиска    
                .found_info_container 
                    .found_info

                //- здесь будет выводится результат