section.form-section
    .container

        form.form.form_insert_data
            label(for="") Название хранилища
            input(type="text" name="inpStore" placeholder="имя нового хранилища")
            br
            label(for="") добавить категорию в хранилище
            br
            input(type="text" name="newCategory" placeholder="категория")
            input(type="text" name="uniqueCategory" placeholder="уникальность")            
            button(type="button").button.btn_addNewCat добавить            
            button(type="button").button.btn_delNewCat удалить               
            br
            button(type="submit").button.btn_createNewStore создать 
            button(type="button").button.btn_deleteStore удалить 
            button(type="button").button.btn_preview предпросмотр            
            br
            br            
            label(for="") использование БД
            br
            label(for="") Выбрать хранилище
            select(name="dbStores", placeholder="Хранилища базы")
            button(type="button").button.btn_selectStore выбрать              
            br 
            br           
            label(for="") Выбрать категорию(поле)           
            select(name="storeCategories", placeholder="Категории хранилища")
            br
            br
            label(for="") взять из файла
            input(type='file').choose_file 
            br   
            br
            label(for="") отправить в файл
            button(type="button").button.btn_save_data_to_file создать файл 
            a(href="").a_send_file отправить файл                           
            br
            br
            textarea(name="newData", placeholder='Вставь новые данные сюда')
            br
            button(type='button').button.btn_add_new_data добавить данные
            button(type='submit').button.btn_push_new_data отправить данные 
            button(type="button").button.btn_preview_new_data предпросмотр            
            br
            label(for="") изменить старые данные
            br
            textarea(name="oldData", placeholder='Вставь старые данные сюда')
            br
            button(type='button').button.btn_change_data Изменить данные
            button(type='submit').button.btn_delete_data удалить данные             

        p задание
        form.form.form_request_data
            br           
            label(for="") Выбрать категорию заданий           
            select(name="catForTask")
            br
            button(type='button').button.btn_exercise_data получить случайное задание
            button(type='button').button.btn_theme_data тематическое задание
            .request_data_exercise
            //- здесь будет выводится задание

            textarea(name='decisionData' placeholder='вставь сюда свое решение')
            button( type='button').button.btn_submit_decision отправить решение
            .answer_data.hidden sasadd
            .result_data

            //- здесь будет выводится результат